{% extends 'blog/base.html' %}

{% load static %}

{% block contenido %}

<article class="blog-post">
  <div class="col-auto d-none d-lg-block">
    <img src= {{ articulo.imagen.url }} class="img-fluid" alt="">
  </div>

  <strong class="d-inline-block mb-2 mt-3 text-primary"><a href={% url 'category' articulo.categoria.id %}>{{ articulo.categoria }}</a></strong>
  <h2 class="blog-post-title mb-1">{{ articulo.titulo }}</h2>
  <p class="blog-post-meta">{{ articulo.creacion|date:'d M Y'}} por <a href={% url 'author' articulo.autor.id %} >{{ articulo.autor }}</a></p>

  <p class="lead my-3">{{ articulo.bajada }}</p>
  <hr>
  <p>{{ articulo.contenido | safe }}</p>

  <hr>

  <strong>Etiquetas:</strong>

  {% for etiqueta in articulo.etiquetas.all %}
    <span class="badge text-bg-info">{{ etiqueta.nombre|upper }}</span>
  {% endfor %}

</article>

<div class="my-3">
  <a class="btn btn-success rounded-pill" href= {% url 'home' %} >Volver al Inicio</a>
</div>

{% endblock contenido %}